.main {
  padding: 1rem;
  border-width: 1px;
  border-style: solid;
  border-color: #c9c9c9;
  border-radius: 5px;
  background-color: #fff;
}

.section-title {
  margin-bottom: .3rem;
  font-size: .8rem;
  text-transform: capitalize;
  font-weight: 500;
}

.nav {
  margin-bottom: 1rem;
}